* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: sans-serif;
}

.wrapper {
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game {
  display: flex;
  width: 500px;
  height: 500px;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0px;
  flex-grow: 1;
  padding: 50px;
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
}
